@media (max-width: 767px) {
    .center {
        text-align: center;
        padding-left: 16px;
        padding-right: 16px;
               
    }
 
   
    
.title {
    color: #FFF;
    font-size: 32px;
    font-style: normal;
    font-weight: 700px;
    line-height: normal;
    padding-top: 238px;
}
.product_box {
    background-image:url(img/backgr1.jpg);
    height: 1221px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
          
  }
  .top_text {
    font-size: 14px;
    font-weight: 300px;
    letter-spacing: 0px;
    
    
  }
  .top_text1 {
    font-weight: 700px;
  }
  .button {
    margin-top: 32px;
    font-family: Montserrat;
    font-weight:400px;
    font-size: 18px;
  }
  .img {
    width: 343px;
    height: 300px;
    margin-top: 128px;
  }
  .img1 {
    width: 343px;
    height: 300px;
    margin-top: 32px;
      
  }
  .img2 {
    width: 343px;
    height: 300px;
    margin-top: 32px;
       
  }
    
  }
  

